.pageContainer {
    margin: 0 auto;
    width: 1200px;
    /* Ограничиваем ширину контейнера */
    background-color: rgb(245, 245, 245);
    padding: 20px 0;
    /* Добавляем отступы */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    /* Отступы между карточками */
    width: 100%;
    /* Занимает всю ширину контейнера */
}

.card {
    background-color: #fff;
    /* Цвет фона карточки */
    border: 1px solid #ddd;
    /* Граница карточки */
    border-radius: 8px;
    /* Скругление углов */
    padding: 15px;
    /* Отступ внутри карточки */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Тень для карточки */
    transition: transform 0.2s;
    /* Плавный эффект при наведении */
}

.card:hover {
    transform: translateY(-5px);
    /* Поднимаем карточку при наведении */
}

.companyName {
    font-family: Inter, sans-serif;
    font-size: 18px;
    /* Размер шрифта для имени */
    font-weight: 600;
    /* Жирный шрифт */
    color: #1E1E1E;
    /* Цвет текста */
}

.card p {
    margin: 5px 0;
    /* Отступы между параграфами */
}