nav {
    position: relative;
    width: 1200px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 4px 6px -6px #222;
    gap: 10px;
}

.header>*:first-child {
    margin-left: 20px;
    /* Задайте нужный отступ слева */
}

.header>*:last-child {
    margin-right: 20px;
    /* Задайте нужный отступ справа */
}


.header a {
    text-decoration: none;
}

h1 {
    color: black;
}

.linckContactUs {
    color: white;
    background-color: rgb(44, 44, 44);
    padding: 0.5% 5%;
    border-radius: 10px;
}